<h1>Attractions</h1>

  <% @attractions.each do |a| %>
    <p>Name: <%= a.name %></p>
    <p>Tickets: <%= a.tickets %></p>
    <% if admin? %>
      <p><%= link_to "Show #{a.name}", attraction_path(a) %></p>
      <p><%= link_to "New Attraction", new_attraction_path %></p>
    <% else %>
      <p><%= link_to "Go on #{a.name}", attraction_path(a) %></p>
    <% end %>
  <% end %>
