<h1>Attractions</h1>
<table>
  <tr>
    <th>Name</th>
    <th> Ticket Details</th>
  </tr>
  <% @attractions.each do |a| %>
    <tr>
      <td><%= a.name %></td>
      <td><%= a.tickets %></td>
      <% if admin? %>
        <td><%= link_to "Show #{a.name}", attraction_path(a) %></td>
        <td><%= link_to "New Attraction", new_attraction_path %></td>
      <% else %>
        <td><%= link_to "Go on #{a.name}", attraction_path(a) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
